/* 
 * Buttons
 */
   
.w-btn,
.button,
button[type="submit"],
input[type="submit"] {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	line-height: 1.2; /* fixed value for all buttons */
	position: relative;
	cursor: pointer;
	transition: background 0.3s, border-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
.w-btn,
.button {
	padding: 0.8em 1.8em; /* fallback value */
	}
input[type="submit"] {
	border-style: solid; /* fallback value */
	}
	.w-btn i {
		display: inline-block;
		vertical-align: top;
		line-height: inherit;
		}
	.w-btn.icon_atleft i {
		margin-right: 0.5em;
		}
	.w-btn.icon_atright i {
		margin-left: 0.5em;
		}
	.w-btn.text_none i {
		margin: 0 !important;
		width: 1.2em;
		}
	/* element to show outline */
	.w-btn:before,
	.button:before,
	button[type="submit"]:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		border-width: 2px;
		border-style: solid;
		border-color: inherit;
		}
.links_underline a.w-btn {
	border-width: 0 !important;
	}

/* Button Wrapper */
.w-btn-wrapper {
	margin: 0.3rem 0;
	}
.w-btn-wrapper.align_left {
	display: inline-block;
	vertical-align: top;
	margin-right: 1rem;
	}
.w-btn-wrapper.align_right {
	float: right;
	margin-left: 1rem;
	}
.wpb_column.align_center .w-btn-wrapper.align_left,
.wpb_column.align_center .w-btn-wrapper.align_right {
	margin-left: 0.6rem;
	margin-right: 0.6rem;
	}
.w-btn-wrapper.width_custom.align_left .w-btn,
.w-btn-wrapper.width_custom.align_right .w-btn,
.w-btn-wrapper.width_full .w-btn {
	width: 100% !important;
	}
