/* Contacts
   ========================================================================== */

.l-subheader .w-contacts {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 40px;
	}
	.l-subheader .w-contacts-list {
		margin: 0 -10px;
		}
		.l-subheader .w-contacts-item {
			display: inline-block;
			vertical-align: top;
			margin: 0 10px;
			white-space: nowrap;
			}
			.l-subheader .w-contacts-item.for_email:before {
				content: 'email';
				font-size: 1.3em;
				font-family: 'Material Icons';
				vertical-align: top;
				line-height: inherit;
				opacity: 0.5;
				}
			.l-subheader .w-contacts-item.for_phone:before {
				content: 'phone';
				font-size: 1.3em;
				font-family: 'Material Icons';
				vertical-align: top;
				line-height: inherit;
				opacity: 0.5;
				}
			.l-subheader .w-contacts-item i {
				font-size: 1.3em;
				vertical-align: top;
				line-height: inherit;
				opacity: 0.5;
				}
			.l-subheader .w-contacts-item-value {
				display: inline-block;
				vertical-align: top;
				margin: 0 0 0 5px;
				}
			.l-subheader .w-contacts-item i,
			.l-subheader .w-contacts-item.for_phone .w-contacts-item-value {
				transition: color 0.3s;
				}
				.l-subheader .w-contacts-item-value a {
					color: inherit;
					}