
/* Person
   ========================================================================== */

.w-person {
	text-align: center;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	max-width: 350px; /* fixed value as 'tnail-1x1-small' image size */
	}
	.w-person-link {
		display: block;
		transition: none;
		}
	.w-person-image {
		position: relative;
		}
		.w-person-image img {
			display: block;
			width: 100%;
			}
		.w-person-image .img_hover {
			position: absolute;
			top: -1px;
			left: 0;
			right: 0;
			bottom: -1px;
			opacity: 0;
			transition: opacity 0.2s;
			transform: translateZ(0); /* render fix for webkit browsers */
			background-size: cover;
			}
		.w-person:hover .w-person-image .img_hover {
			opacity: 1;
			}
	.w-person-content {
		padding: 1rem 0;
		}
		.w-person-name {
			font-size: 1.2rem;
			margin: 0;
			}
		.w-person-link > .w-person-name {
			color: inherit;
			transition: color 0.3s;
			}
		.w-person-role {
			font-size: 0.9em;
			opacity: 0.5;
			}
		.w-person-description {
			margin-top: 0.6rem;
			}
			.w-person-description p {
				margin: 0;
				}
		.w-person-links-list {
			display: flex;
			justify-content: center;
			margin-top: 0.6rem;
			}
			.w-person-links-item {
				font-size: 1.2rem;
				line-height: 2em;
				width: 2em;
				color: inherit;
				}
				.w-person-links-item i {
					vertical-align: top;
					line-height: inherit;
					}
				.w-person-links-item.type_email i:before {
					content: 'email';
					font-family: 'Material Icons';
					font-style: normal;
					font-size: 1.4rem;
					}

/* LAYOUT simple & simple_circle */
.no-touch .w-person.layout_simple .w-person-image,
.no-touch .w-person.layout_simple_circle .w-person-image {
	overflow: hidden;
	transition: box-shadow 0.3s;
	}
.no-touch .w-person.layout_simple:hover .w-person-image,
.no-touch .w-person.layout_simple_circle:hover .w-person-image {
	box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.25);
	}
.w-person.layout_simple_circle .w-person-image {
	border-radius: 50%;
	z-index: 1;
	}
	.w-person.layout_simple_circle .w-person-image img {
		border-radius: 50%;
		}

/* LAYOUT card */
.w-person.layout_card {
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05), 0 1px 3px 0 rgba(0,0,0,0.25);
	transition: box-shadow 0.3s;
	}
	.no-touch .w-person.layout_card:hover {
		box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.25);
		}
	.w-person.layout_card .w-person-content {
		padding: 1.5rem;
		}

/* Photo Effects */
.w-person.effect_bw img,
.w-person.effect_bw .img_hover {
	-webkit-filter: brightness(1.1) grayscale(1);
	filter: brightness(1.1) grayscale(1);
	}
.w-person.effect_sepia img,
.w-person.effect_sepia .img_hover {
	-webkit-filter: contrast(0.8) grayscale(0.5) sepia(0.65);
	filter: contrast(0.8) grayscale(0.5) sepia(0.65);
	}
.w-person.effect_faded img,
.w-person.effect_faded .img_hover {
	-webkit-filter: brightness(1.2) contrast(0.8) grayscale(0.75);
	filter: brightness(1.2) contrast(0.8) grayscale(0.75);
	}
.w-person.effect_colored img,
.w-person.effect_colored .img_hover {
	-webkit-filter: brightness(1.1) contrast(0.85) saturate(3) grayscale(0.5) sepia(0.1);
	filter: brightness(1.1) contrast(0.85) saturate(3) grayscale(0.5) sepia(0.1);
	}