
/* Pricing
   ========================================================================== */

.w-pricing {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	}
	.w-pricing-item {
		flex: 1 1 0%;
		text-align: center;
		}

/* Pricing Table
   ========================================================================== */

.w-pricing-item:first-child .w-pricing-item-h {
	margin-left: 0;
	}
.w-pricing-item:last-child .w-pricing-item-h {
	margin-right: 0;
	}
	.w-pricing-item-header {
		padding: 35px 30px 25px;
		}
		.w-pricing-item-title {
			font-size: 1.2rem;
			font-weight: 600;
			line-height: 1;
			margin-bottom: 1rem;
			}
		.w-pricing-item.type_featured .w-pricing-item-title {
			color: inherit;
			}
		.w-pricing-item-price {
			font-size: 48px;
			line-height: 48px;
			}
			.w-pricing-item-price small {
				display: block;
				font-size: 14px;
				line-height: 20px;
				font-weight: normal;
				margin-top: 5px;
				opacity: 0.5;
				}
	.w-pricing-item .w-pricing-item-features {
		list-style-type: none;
		margin: 0;
		}
		.w-pricing-item .w-pricing-item-features li {
			padding: 6px 20px;
			margin: 0;
			}
	.w-pricing-item-footer {
		padding: 25px 0 40px;
		}

/* STYLE 1 */
.w-pricing.style_1 .w-pricing-item-h {
	margin: 4px;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05), 0 1px 3px 0 rgba(0,0,0,0.25);
	transition: box-shadow 0.3s;
	}
.w-pricing.style_1 .w-pricing-item:hover .w-pricing-item-h {
	box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.25);
	z-index: 1;
	}
	.w-pricing.style_1 .w-pricing-item-header {
		padding: 30px;
		margin-bottom: 25px;
		}
	.w-pricing.style_1 .type_featured .w-pricing-item-header {
		color: #fff;
		}

/* STYLE 2 */
.w-pricing.style_2 .w-pricing-item-h {
	margin: 2px;
	}
.w-pricing.style_2 .type_featured .w-pricing-item-h {
	color: #fff;
	}
