/* 
 * Search
 */

.w-search {
	line-height: 2.8rem;
	}
.header_hor .l-subheader-cell > .w-search:not(.layout_simple) {
	margin-left: 0;
	margin-right: 0;
	}
.header_ver .l-subheader-cell > .w-search:not(.layout_simple) {
	margin-left: 0.6rem;
	margin-right: 0.6rem;
	}
	.w-search input {
		display: block;
		box-shadow: none !important;
		border: none !important;
		background-color: transparent;
		color: inherit;
		transition: none;
		}
	.w-search-open {
		display: block;
		text-align: center;
		padding: 0 0.8rem;
		color: inherit;
		}
		.w-search button:empty::before,
		.w-search-open:empty::before {
			content: 'search';
			font-family: 'Material Icons';
			vertical-align: top;
			}
		.w-search-open i {
			vertical-align: top;
			line-height: inherit;
			}
	.header_hor .l-subheader-cell.at_left .w-search:not(.layout_simple):first-child {
		margin-left: -0.8rem;
		}
	.header_hor .l-subheader-cell.at_right .w-search:not(.layout_simple):last-child {
		margin-right: -0.8rem;
		}
	.w-search-close {
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		line-height: 2.8rem;
		width: 2.8rem;
		cursor: pointer;
		color: inherit !important;
		opacity: 0.5;
		transition: color 0.3s, opacity 0.3s, transform 0.3s;
		}
	.w-search-close:focus,
	.no-touch .w-search-close:hover {
		opacity: 1 !important;
		}
		.w-search-close:before {
			content: 'close';
			font-family: 'Material Icons';
			vertical-align: top;
			}
			
/* Search: LAYOUT simple */
.w-search.layout_simple {
	position: relative;
	height: 2.8rem;
	min-width: 10rem;
	}
.header_hor .w-search.layout_simple {
	width: 100%;
	}
.header_ver .w-search.layout_simple {
	max-width: none;
	margin-left: 0;
	margin-right: 0;
	}
	.w-search.layout_simple .w-search-open,
	.w-search.layout_simple .w-search-close {
		display: none;
		}
	.w-search.layout_simple .w-search-form {
		border-radius: 0.3rem;
		transition: color 0.3s, background-color 0.3s;
		}
	.w-search.layout_simple input {
		padding-left: 0.8rem;
		padding-right: 2.8rem;
		}
	.w-search.layout_simple button {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0 !important;
		font-weight: normal;
		line-height: 2.8rem;
		height: 2.8rem;
		width: 2.8rem;
		border-radius: 0 !important;
		background: none !important;
		box-shadow: none !important;
		color: inherit !important;
		transition: opacity 0.3s;
		opacity: 0.5;
		}
	.w-search.layout_simple button:focus,
	.no-touch .w-search.layout_simple button:hover {
		opacity: 1;
		}
		.w-search.layout_simple button:before,
		.w-search.layout_simple button span {
			display: none;
			}
			
/* Search: LAYOUT modern */
.w-search.layout_modern {
	position: relative;
	padding: 0 0.8rem;
	width: 2.8rem;
	transition: width 0.3s, padding 0.3s;
	}
.header_ver .w-search.layout_modern.active {
	padding: 0;
	}
	.w-search.layout_modern .w-search-open {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		opacity: 1;
		transform: translateX(0);
		}
	.w-search.layout_modern.active .w-search-open {
		z-index: 0;
		opacity: 0;
		transform: translateX(-2rem);
		}
	.w-search.layout_modern .w-search-close {
		opacity: 0;
		transform: translateX(2rem);
		transition: transform 0.3s, opacity 0.3s;
		}
	.w-search.layout_modern.active .w-search-close {
		z-index: 1;
		opacity: 0.5;
		transform: translateX(0);
		}
	.w-search.layout_modern .w-search-form {
		position: relative;
		border-radius: 0.3rem;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.3s, color 0.3s, background-color 0.3s;
		}
	.w-search.layout_modern.active .w-search-form {
		opacity: 1;
		}
	.w-search.layout_modern input {
		padding-left: 0.8rem;
		padding-right: 2.8rem;
		}
@media (min-width: 601px) {
.l-header.bg_transparent:not(.sticky) .w-search.layout_simple .w-search-form,
.l-header.bg_transparent:not(.sticky) .w-search.layout_modern .w-search-form {
	background-color: rgba(0,0,0,0.2);
	color: #fff;
	}
}

/* Search: LAYOUT fullwidth */
.w-search.layout_fullwidth .w-search-form {
	position: absolute;
	top: 0;
	left: -1.5rem;
	right: -1.5rem;
	height: 0;
	overflow: hidden;
	z-index: 120;
	transition: height 0.3s cubic-bezier(.4,0,.2,1);
	}
.w-search.layout_fullwidth.active .w-search-form {
	height: 100%;
	}
	.w-search.layout_fullwidth input {
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -1.4rem;
		padding: 0 3rem 0 1.5rem;
		border-radius: 0;
		}
	.header_hor .w-search.layout_fullwidth input {
		font-size: 1.4rem;
		}
	.w-search.layout_fullwidth .w-search-close {
		top: 50%;
		width: auto;
		padding-right: 1.5rem;
		margin-top: -1.4rem;
		}
.header_ver .w-search.layout_fullwidth .w-search-form {
	left: 0;
	right: 0;
	}

/* Search: LAYOUT fullscreen */
.w-search.layout_fullscreen .w-search-form {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 100;
	}
	.w-search.layout_fullscreen .w-search-form-field {
		position: absolute;
		top: 50%;
		left: 5%;
		right: 5%;
		transform: translateY(-50%);
		}
		.w-search.layout_fullscreen input {
			font-size: 44px;
			line-height: 2;
			text-align: center;
			height: auto;
			}
		.w-search.layout_fullscreen input:focus + .w-form-row-field-bar:before,
		.w-search.layout_fullscreen input:focus + .w-form-row-field-bar:after {
			width: 50%;
			}
	.w-search.layout_fullscreen .w-search-close {
		font-size: 3rem;
		line-height: 6rem;
		width: 6rem;
		}
.w-search-background {
	display: none;
	position: fixed;
	z-index: 99;
	border-radius: 100%;
	transform: scale(1);
	transform-origin: 50%;
	opacity: 0;
	pointer-events: none;
	}
.w-search-background.overlay-on {
	transition: opacity 0.2s, transform 0.6s cubic-bezier(.4,0,.2,1);
	opacity: 0.96;
	}
.w-search-background.overlay-out {
	transition: opacity 0.6s, transform 0.6s cubic-bezier(.4,0,.2,1);
	}
.w-search-background.mobilefocus {
	display: none !important;
	}

/* WordPress Widget
   ========================================================================== */
.widget_search .w-form-message,
.widget_search .w-form-row-state,
.widget_search .w-btn span,
.widget_search .w-btn:before {
	display: none;
	}
.widget_search .w-form {
	position: relative;
	min-width: 100px;
	padding-top: 0;
	}
	.widget_search .w-form-row {
		padding: 0 !important;
		margin-bottom: 0 !important;
		}
	.widget_search .w-form-row.for_submit {
		position: absolute;
		top: 0;
		right: 0;
		}
		.widget_search .w-form button[type="submit"].w-btn {
			line-height: 2.8rem;
			font-weight: 400;
			font-style: normal;
			text-transform: none;
			letter-spacing: 0;
			padding: 0 !important;
			border-radius: 0 !important;
			box-shadow: none !important;
			background: none !important;
			color: inherit !important;
			}
			.widget_search .w-btn:after {
				content: 'search';
				font-family: 'Material Icons';
				font-size: 24px;
				vertical-align: top;
				}
				