
/* Define Font Awesome & Material icon fonts
   ========================================================================== */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../../../fonts/material-icons.woff2) format('woff2'),
	url(https://fonts.gstatic.com/s/materialicons/v37/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
	}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	}
@font-face {
	font-family: 'Font Awesome 5 Brands';
	font-style: normal;
	font-weight: normal;
	src: url(../../../fonts/fa-brands-400.woff2) format("woff2"),
	url(../../../fonts/fa-brands-400.woff) format("woff");
	}
.fab {
	font-family: 'Font Awesome 5 Brands';
	}
@font-face {
	font-family: 'fontawesome';
	font-style: normal;
	font-weight: 300;
	src: url(../../../fonts/fa-light-300.woff2) format("woff2"),
	url(../../../fonts/fa-light-300.woff) format("woff");
	}
.fal {
	font-family: 'fontawesome';
	font-weight: 300;
	}
@font-face {
	font-family: 'fontawesome';
	font-style: normal;
	font-weight: 400;
	src: url(../../../fonts/fa-regular-400.woff2) format("woff2"),
	url(../../../fonts/fa-regular-400.woff) format("woff");
	}
.far {
	font-family: 'fontawesome';
	font-weight: 400;
	}
@font-face {
	font-family: 'fontawesome';
	font-style: normal;
	font-weight: 900;
	src: url(../../../fonts/fa-solid-900.woff2) format("woff2"),
	url(../../../fonts/fa-solid-900.woff) format("woff");
	}
.fa,
.fas {
	font-family: 'fontawesome';
	font-weight: 900;
	}

/* WordPress Admin UI customizing
   ========================================================================== */

/* Hide "Posts page" option on Settings > Reading */
/* .options-reading-php label[for="page_for_posts"] { */
	/* display: none !important; */
	/* } */

/* Show SVG as Featured Image */
#postimagediv .inside img[width="1"] {
	width: 254px;
	}

/* UpSolution icon for the WP admin menu */
.menu-icon-generic.toplevel_page_us-theme-options .wp-menu-image {
	background: url(../img/us-logo.png) no-repeat center 6px / 22px auto !important;
	}
	.menu-icon-generic.toplevel_page_us-theme-options .wp-menu-image:before {
		display: none;
		}

/* Custom Sidebar on Widgets page */
.sidebar-name .sidebar-name-arrow:before {
	line-height: 28px !important;
	}
.sidebar-us-custom-area {
	position: relative;
	}
	.us-custom-area-delete {
		position: absolute;
		top: 10px;
		right: 40px;
		height: 30px;
		width: 30px;
		text-align: center;
		cursor: pointer;
		opacity: 0.33;
		}
	.rtl .us-custom-area-delete {
		right: auto;
		left: 40px;
		}
	.us-custom-area-delete:hover {
		opacity: 1;
		color: red;
		}
	.us-custom-area-delete:before {
		content: '\f335';
		font: 24px/30px dashicons;
		vertical-align: top;
		}
.us-custom-area-form {
	text-align: center;
	padding: 30px 30px 26px;
	margin-top: 10px;
	max-width: 859px;
	}
	.us-custom-area-form input[type="text"] {
		min-width: 250px;
		margin: 0 1px 4px;
		}

/* Migration Messages */
.error.us-migration {
	padding: 20px 20px 10px;
	border: none;
	background-color: #ffe14c;
	color: #333;
	}
.updated.us-migration {
	padding: 15px 20px;
	background-color: #7ad03a;
	color: #fff;
	}
	.error.us-migration h2 {
		margin: 0 0 10px;
		}
	.updated.us-migration a {
		color: #ffe14c;
		}
	.updated.us-migration a:hover {
		color: #333;
		}
	.error.us-migration .button {
		font-size: 15px;
		height: auto;
		padding: 4px 20px;
		color: #111;
		}

/* US MEGA MENU
   ========================================================================== */

.us-mm-btn {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	line-height: 40px;
	font-weight: normal;
	margin: -10px 5px;
	}

.nav-menus-php #TB_overlay {
	cursor: zoom-out;
	}
.usof-container#TB_window {
	top: 5vh;
	max-width: 920px;
	width: 90vw !important;
	padding: 0 !important;
	margin: 0 !important;
	transform: translateX(-50%);
	}
	.usof-container #TB_title {
		display: none;
		}
	.usof-container #TB_ajaxContent {
		padding: 0;
		height: auto !important;
		width: auto !important;
		overflow: hidden;
		}
	.rtl .usof-container#TB_window,
	.rtl .usof-container #TB_ajaxContent {
		text-align: right;
		}

#TB_window .usof-header {
	position: static;
	}
	#TB_window .usof-header h2 {
		margin: 0 20px;
		color: inherit;
		}
		#TB_window .usof-header h2 span {
			font-weight: 400;
			color: #b4b9be;
			}
		@media (max-width: 600px) {
		#TB_window .usof-header h2 span {
			display: none;
			}
		}

.us-mm-body {
	line-height: 24px;
	max-height: calc(90vh - 60px);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	}
	.us-mm-settings {
		padding: 15px 0 25px;
		max-width: 900px;
		}

/* Fixed USOF controls */
#TB_window .usof-color-clear {
	left: auto;
	right: -30px;
	}



/* USOF META BOXES
   ========================================================================== */

#us_page_settings .usof-metabox {
	padding: 10px;
	}
.usof-metabox .usof-form-row {
	padding: 8px 0;
	}
.usof-metabox .usof-form-row.for_above {
	padding-top: 0;
	}
.usof-metabox .usof-form-row:after {
	content: '';
	display: block;
	clear: both;
	}
.usof-metabox .usof-form-row-title {
	font-weight: 600;
	margin-bottom: 5px;
	}
.usof-metabox .usof-form-row-desc-text {
	line-height: 18px;
	padding-top: 4px;
	color: #999;
	}
.usof-metabox .usof-form-row-control input[type="text"],
.usof-metabox .usof-form-row-control select {
	vertical-align: top;
	width: 100%;
	margin: 0;
	}
.usof-metabox .usof-form-row-control select > option[value=""] {
	color: #999;
	}
#us_testimonials_settings > h2,
#us_testimonials_settings > button {
	display: none;
	}
@media (min-width: 783px) {
#us_portfolio_settings .usof-metabox,
#us_testimonials_settings .usof-metabox {
	max-width: 800px;
	}
#us_portfolio_settings .usof-metabox .usof-form-row-title,
#us_testimonials_settings .usof-metabox .usof-form-row-title {
	float: left;
	width: 27%;
	box-sizing: border-box;
	padding: 5px 20px 5px 0;
	margin: 0;
	}
#us_portfolio_settings .usof-metabox .usof-form-row-field,
#us_testimonials_settings .usof-metabox .usof-form-row-field {
	float: right;
	width: 73%;
	}
.rtl #us_portfolio_settings .usof-metabox .usof-form-row-title,
.rtl #us_testimonials_settings .usof-metabox .usof-form-row-title {
	float: right;
	padding: 5px 0 5px 20px;
	}
.rtl #us_portfolio_settings .usof-metabox .usof-form-row-field,
.rtl #us_testimonials_settings .usof-metabox .usof-form-row-field {
	float: left;
	}
}

/* Button */
.usof-metabox .usof-button {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	line-height: 28px;
	padding: 0 12px;
	margin: 4px 0 0;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 #ccc;
	background: #f7f7f7;
	color: #555;
	}
.usof-metabox .usof-button:hover {
	background: #fafafa;
	border-color: #999;
	color: #23282d;
	}
.usof-metabox .usof-button:active {
	background: #eee;
	border-color: #999;
	box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.5) inset;
	transform: translateY(1px);
	}

/* Heading */
.usof-metabox .usof-form-row.type_heading {
	padding: 18px 22px 10px;
	margin: 14px -22px 0;
	border-top: 1px solid #eee;
	}
.usof-metabox input + .usof-form-row.type_heading,
.usof-metabox .usof-form-row.type_heading:first-child {
	padding-top: 0;
	margin-top: 0;
	border: none;
	}
	.usof-metabox .usof-form-row.type_heading .usof-form-row-title {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 0;
		}

/* Switcher */
.usof-metabox .usof-switcher > input {
	display: none;
	}
.usof-metabox .usof-switcher > label {
	display: flex;
	align-items: center;
	}
	.usof-metabox .usof-switcher-box {
		flex-shrink: 0;
		position: relative;
		width: 42px;
		height: 24px;
		margin-right: 8px;
		border-radius: 20px;
		box-shadow: 0 1px 0 rgba(0,0,0,0.1) inset, 0 0 0 1px rgba(0,0,0,0.03) inset;
		background-color: #eee;
		transition: background-color 0.3s;
		}
	.usof-metabox .usof-switcher > input:checked + label .usof-switcher-box {
		background-color: #0073aa;
		}
		.usof-metabox .usof-switcher-box > i {
			position: absolute;
			top: 3px;
			left: 3px;
			height: 18px;
			width: 18px;
			border-radius: 50%;
			box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.1);
			background-color: #fff;
			transition: left 0.3s, right 0.3s;
			}
		.usof-metabox .usof-switcher > input:checked + label .usof-switcher-box > i {
			left: 21px;
			}

/* Checkboxes */
.usof-metabox .usof-checkbox-list {
	margin: 0 !important;
	}
	.usof-metabox .usof-checkbox-list input {
		margin: -1px 5px 0 0 !important;
		}

/* Radio */
.usof-metabox .usof-radio-list {
	display: flex;
	margin: 0 !important;
	}
	.usof-metabox .usof-radio {
		flex-shrink: 0;
		margin: 0 -1px 0 0;
		}
		.usof-metabox .usof-radio input[type="radio"] {
			display: none;
			}
		.usof-metabox .usof-radio label {
			display: block;
			position: relative;
			text-align: center;
			padding: 0 20px;
			font-size: 13px;
			line-height: 30px;
			overflow: hidden;
			box-shadow: 0 1px 0 #ccc;
			border: 1px solid #ccc;
			background: #f7f7f7;
			color: #555;
			}
		.usof-metabox .usof-radio label:hover {
			background: #fafafa;
			border-color: #999;
			color: #23282d;
			z-index: 1;
			}
		.usof-metabox .usof-radio input[type="radio"]:checked + label {
			box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.6) inset;
			border-color: #0073aa;
			background: #0073aa;
			color: #fff;
			cursor: default;
			}
		.usof-metabox .usof-radio:first-child label,
		.rtl .usof-metabox .usof-radio:last-child label {
			border-radius: 3px 0 0 3px;
			}
		.usof-metabox .usof-radio:last-child label,
		.rtl .usof-metabox .usof-radio:first-child label {
			border-radius: 0 3px 3px 0;
			}
	.usof-metabox .usof-form-row.width_full .usof-radio {
		flex-grow: 1;
		}
		.usof-metabox .usof-form-row.width_full .usof-radio label {
			padding: 0 10px;
			}

/* Link */
.usof-metabox .usof-form-row.type_link .usof-checkbox {
	margin-top: 6px;
	}

/* File Upload */
.usof-metabox .usof-upload-preview {
	position: relative;
	max-width: 300px;
	}
	.usof-metabox .usof-upload-preview img {
		display: block;
		max-width: 100%;
		background-image:
			linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4),
			linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
		background-position: 0 0, 10px 10px;
		background-size: 20px 20px;
		}
	.usof-metabox .usof-upload-controls {
		position: absolute;
		top: 8px;
		left: 8px;
		right: 8px;
		opacity: 0;
		transition: opacity 0.3s;
		}
	.usof-metabox .usof-upload-preview:hover .usof-upload-controls {
		opacity: 1;
		}
		.usof-metabox .usof-upload-controls .usof-button {
			text-decoration: none;
			box-shadow: none;
			margin: 2px;
			}

/* Improvements for Page Layout metabox */
#us_page_settings .usof-metabox .usof-form-row[selected-value="custom"] select,
#us_page_settings .usof-metabox .usof-form-row[selected-value="hide"] select {
	font-weight: 700;
	}

/* Color Picker */
.usof-metabox .usof-color {
	line-height: 30px;
	height: 30px;
	}

/* Disable meta boxes for WPML translating pages */
.us_wpml_non_default .usof-metabox .usof-form-row.type_select,
.us_wpml_non_default .usof-metabox .usof-form-row.type_slider,
.us_wpml_non_default .usof-metabox .usof-form-row.type_checkboxes,
.us_wpml_non_default .usof-metabox .usof-form-row.type_switch,
.us_wpml_non_default .usof-metabox .usof-form-row.type_upload,
.us_wpml_non_default .usof-metabox .usof-form-row.type_radio,
.us_wpml_non_default .usof-metabox .usof-form-row.type_color {
	opacity: 0.33;
	pointer-events: none;
	}
.us_wpml_non_default .usof-metabox .usof-form-row.us_wpml_non_default_hidden {
	display: none !important;
	}

@media (max-width: 782px) {
.usof-metabox .usof-radio label {
	font-size: 14px;
	line-height: 34px;
	}
}



/* COLOR PICKER
   ========================================================================== */
.usof_colpick_wrap {
	display: none;
	position: absolute;
	z-index: 1111;
	overflow: hidden;
	width: 208px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 4px 8px rgba(0,0,0,0.2);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	}
.usof-color.active > .usof_colpick_wrap {
	display: block;
	}
.usof_colpick_color {
	float: left;
	position: relative;
	overflow: hidden;
	height: 156px;
	width: 156px;
	cursor: crosshair;
	}
.usof_colpick_color_overlay1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
.usof_colpick_color_overlay2 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	}
.usof_colpick_selector_outer {
	background: none;
	position: absolute;
	width: 11px;
	height: 11px;
	margin: -6px 0 0 -6px;
	border: 1px solid #000;
	border-radius: 50%;
	}
.usof_colpick_selector_inner {
	position: absolute;
	width: 9px;
	height: 9px;
	border: 1px solid #fff;
	border-radius: 50%;
	}
.usof_colpick_hue,
.usof_colpick_alpha {
	float: left;
	position: relative;
	overflow: hidden;
	height: 156px;
	width: 26px;
	cursor: n-resize;
	}
.usof_colpick_hue_arrs,
.usof_colpick_alpha_arrs {
	position: absolute;
	left: 0;
	right: 0;
	height: 6px;
	margin-top: -3px;
	border: 1px solid #000;
	box-shadow: 0 0 0 1px #fff inset;
	}
.usof_colpick_hex_field,
.usof_colpick_field {
	display: none;
	}
.usof_colpick_palette {
	clear: both;
	display: flex;
	height: 26px;
	font-size: 12px;
	}
.usof_colpick_palette_value {
	flex-shrink: 0;
	position: relative;
	height: 26px;
	width: 26px;
	background:	url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMFJREFUeNrsVlsOhCAM7Jg9j97/GHChMTxcC9UPTNatif0AIxhmOlMqSMpIhBiG9k/y43gP+P8Bn/FPkIbiPZQhTRSafXDKoMDL4DNqWn7fNccMlAYF66ZE/8avBvu0qUG1sPvKLQOFlo0GigfvcVGI8cQbNr8plnlxehflPELlMbMhYDzu7zaluj1onM7GL0/sB+ic7pGBxcXu+QkuqhhrJasartXQ9iqPGtQKOO20lKscbtbAIAXk8J/HEYNVgAEAHShEyUuW684AAAAASUVORK5CYII=");
	background-size: 16px;
	}
	.usof_colpick_palette_value span {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		}
	.usof_colpick_palette_delete {
		display: none;
		position: absolute;
		z-index: 1;
		top: 100%;
		left: 0;
		line-height: 26px;
		width: 26px;
		text-align: center;
		background-color: #fff;
		cursor: pointer;
		transform-origin: 0 0;
		transform: scaleY(0);
		transition: transform 0.15s;
		}
	.usof_colpick_palette_delete:hover {
		background-color: #eee;
		}
	.usof_colpick_palette_value:hover .usof_colpick_palette_delete {
		transform: scaleY(1);
		transition: transform 0.15s ease 0.6s;
		}
		.usof_colpick_palette_delete:before {
			vertical-align: top;
			content: '\f2ed';
			font-family: fontawesome;
			font-weight: 900;
			}
.usof_colpick_palette_add {
	display: none;
	flex-shrink: 0;
	text-align: center;
	line-height: 26px;
	width: 26px;
	cursor: pointer;
	}
.usof_colpick_palette_add:hover {
	background-color: #eee;
	}
	.usof_colpick_palette_add:before {
		vertical-align: top;
		content: '\f067';
		font-family: fontawesome;
		font-weight: 900;
		}
.usof_colpick_palette_value.deleting,
.usof_colpick_palette_add.adding {
	opacity: 0.33;
	}
.toplevel_page_us-theme-options .usof_colpick_palette_delete,
.toplevel_page_us-theme-options .usof_colpick_palette_add {
	display: block;
	}



/* About Page
   ========================================================================== */
.us-home a:focus {
	box-shadow: none;
	}
.us-header {
	position: relative;
	padding: 0 0 40px 130px;
	background: url(../img/us-logo.png) no-repeat 0 0;
	background-size: 100px auto;
	}
	.us-header h1 {
		font-weight: 300;
		margin: 0 0 22px;
		}
	.us-header-links {
		display: flex;
		}
		.us-header-link {
			font-size: 18px;
			margin-right: 30px;
			}

.us-features {
	margin-bottom: 10px;
	}
	.us-features:after {
		content: '';
		display: block;
		clear: both;
		}
	.us-features > .one-third {
		float: left;
		width: 29.3333%;
		margin-left: 6%;
		}
	.us-features > .one-third:first-child {
		margin-left: 0;
		}
		.us-home.about-wrap .us-features h4 {
			font-size: 18px;
			margin: 0;
			}
			.us-home.about-wrap .us-features h4 i {
				font-size: 26px;
				line-height: inherit;
				vertical-align: top;
				margin-right: 12px;
				color: #23ccaa;
				}
		.us-home.about-wrap .us-features .button {
			font-size: 14px;
			height: auto;
			padding: 4px 18px;
			margin-top: 5px;
			}
		.us-feature-disabled {
			display: inline-block;
			vertical-align: top;
			padding: 8px 18px;
			border-radius: 3px;
			background-color: rgba(0,0,0,0.05);
			}

.us-activation {
	text-align: center;
	padding: 40px 40px 50px;
	margin-bottom: 40px;
	background-color: #fff;
	}
	.us-activation-status {
		font-size: 24px;
		font-weight: 600;
		line-height: 1.4;
		margin-bottom: 20px;
		color: #999;
		}
	.us-activation-status.yes {
		margin-bottom: 10px;
		color: #0c0;
		}
	.us-activation input[type="submit"] {
		font-size: 20px;
		height: auto;
		border-radius: 5px;
		padding: 12px 50px;
		}
	.us-activation p {
		margin: 0;
		}
	.us-activation-desc {
		display: inline-block;
		vertical-align: top;
		position: relative;
		}
		.us-activation-desc-sign {
			display: inline-block;
			vertical-align: top;
			font: 24px/1 dashicons;
			margin-top: 6px;
			color: #ccc;
			}
			.us-activation-desc-sign:before {
				content: '\f223';
				}
		.us-activation-desc-text {
			position: absolute;
			left: -140px;
			top: 42px;
			text-align: left;
			font-weight: normal;
			padding: 20px 25px;
			width: 250px;
			background-color: #32373c;
			color: #fff;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.3s;
			}
		.us-activation-desc:hover .us-activation-desc-text {
			visibility: visible;
			opacity: 1;
			}
			.us-activation-desc-text:after {
				content: '';
				position: absolute;
				left: 142px;
				top: -10px;
				height: 20px;
				width: 20px;
				background-color: #32373c;
				transform: rotate(45deg);
				}
			.us-activation-desc-text:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: -20px;
				height: 20px;
				}
			.us-activation-desc-text p {
				font-size: 13px;
				margin: 0 0 10px;
				}
			.us-activation-desc-text ul {
				font-size: 13px;
				margin: 0 0 4px;
				}
				.us-activation-desc-text li {
					position: relative;
					line-height: inherit;
					padding-left: 18px;
					}
					.us-activation-desc-text li:before {
						position: absolute;
						top: -3px;
						left: -4px;
						content: '\f147';
						font-family: dashicons;
						vertical-align: top;
						font-size: 20px;
						}
			.us-activation-desc-text a {
				color: #00a0d2;
				}
			.us-activation-desc-text a:hover {
				color: #47bfe4;
				}

.rtl .us-header {
	padding: 0 130px 40px 0;
	background-position: 100% 0;
	}
.rtl .us-header-link {
	margin-left: 20px;
	margin-right: 0;
	}
.rtl .us-home.about-wrap .us-features h4 i {
	margin-left: 12px;
	margin-right: 0;
	}
.rtl .us-activation-desc-text {
	text-align: right;
	}
.rtl .us-activation-desc-text li {
	padding-left: 0;
	padding-right: 18px;
	}
.rtl .us-activation-desc-text li:before {
	left: auto;
	right: -4px;
	}

@media (max-width: 782px) {
.us-header-links {
	display: block;
	}
.us-header-link {
	margin: 0 0 10px;
	}
.us-activation-desc {
	display: none;
	}
.us-home.about-wrap .us-features {
	margin-bottom: 0;
	}
.us-features > .one-third {
	float: none;
	width: 100%;
	margin: 0 0 30px;
	}
}

@media (max-width: 600px) {
.us-header {
	padding: 0 !important;
	background: none;
	border: none;
	}
.us-activation {
	padding: 30px;
	}
	.us-activation input[type="submit"] {
		font-size: 16px;
		padding: 10px 20px;
		width: 100%;
		}
}

/* Addons Page
   ========================================================================== */
.impreza_page_us-addons,
.zephyr_page_us-addons {
	overflow-y: scroll;
	background: #fff;
	}

.us-addons {
	padding: 30px;
	margin-left: -20px;
	}
.us-addons .us-admin-title,
.us-addons .us-admin-subtitle {
	display: inline-block;
	text-align: left;
	margin-right: 10px;
	margin-bottom: 30px;
	}
.us-addons-list {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	}
.us-addon {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	margin: 0 -1px -1px 0;
	padding: 30px;
	width: 25%;
	}
@media (max-width: 1400px) {
.us-addon {
	width: 50%;
	}
}
@media (max-width: 782px) {
.us-addon {
	width: 100%;
	padding: 20px;
	}
}
	.us-addon-content {
		flex: 1 1 auto;
		position: relative;
		padding-left: 85px;
		min-height: 70px;
		}
		.us-addon-content a {
			text-decoration: none;
			box-shadow: none !important;
			}
		.us-addon-icon {
			position: absolute;
			left: 0;
			width: 70px;
			}
		.us-addon-title {
			font-size: 18px;
			line-height: 1.4;
			margin: -6px 0 8px;
			}
		.us-addon a:hover .us-addon-title {
			color: #23ccaa;
			}
		.us-addon-desc {
			font-size: 15px;
			margin: 0;
			}
	.us-addon-control {
		flex-shrink: 0;
		padding-top: 20px;
		}
		.us-addon-lock {
			display: none;
			line-height: 20px;
			padding: 8px 0;
			}
		.us-addon-status,
		.us-addon .usof-button {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
			padding: 8px 22px;
			border-radius: 40px;
			}
		.us-addon .usof-button {
			cursor: pointer;
			border: none;
			text-decoration: none;
			transition: background-color 0.3s, color 0.3s, opacity 0.3s;
			box-shadow: 0 -1px 0 rgba(0,0,0,0.08) inset;
			background-color: #f1f1f1;
			color: inherit;
			}
		.us-addon .usof-button:hover {
			background-color: #ddd;
			}
			.us-addon .g-preloader {
				display: none;
				vertical-align: top;
				height: 16px;
				width: 16px;
				margin: 2px 8px 2px 0;
				}
			.rtl .us-addon .g-preloader {
				margin: 2px 0 2px 8px;
				}
				.us-addon .g-preloader.type_1:before,
				.us-addon .g-preloader.type_1:after {
					border-width: 2px;
					}
			.us-addon.status_activating .g-preloader,
			.us-addon.status_installing .g-preloader {
				display: inline-block;
				}
	.us-addon.status_active {
		background-color: #dfffdb;
		}
		.us-addon.status_active .us-addon-status {
			background-color: #fff;
			color: #29ad1d;
			}
	.us-addon.status_error {
		background-color: #ffe3e3;
		}
		.us-addon.status_error .us-addon-status {
			background-color: #fff;
			color: #dd3d36;
			}
	.us-addon.status_activating,
	.us-addon.status_installing {
		background-color: #ffd;
		}
		.us-addon.status_locked .usof-button,
		.us-addon.status_locked .us-addon-status,
		.us-addon.status_activating .us-addon-status,
		.us-addon.status_installing .us-addon-status,
		.us-addon.status_notactive .us-addon-status,
		.us-addon.status_notinstalled .us-addon-status {
			display: none;
			}
		.us-addon.status_activating .usof-button,
		.us-addon.status_installing .usof-button {
			pointer-events: none;
			cursor: default;
			}
		.us-addons-list.disable-buttons .status_notactive .usof-button,
		.us-addons-list.disable-buttons .status_notinstalled .usof-button {
			pointer-events: none;
			cursor: default;
			opacity: 0.33;
			}
		.us-addon.status_locked .us-addon-lock {
			display: block;
			}

/* DEMO IMPORT PAGE
   ========================================================================== */
.impreza_page_us-demo-import,
.zephyr_page_us-demo-import {
	overflow-y: scroll;
	background: #fff;
	}

.us-screenlock {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 11;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background-color: rgba(255,255,255,0.9);
	}
@media (max-width: 1024px) {
.us-screenlock {
	align-items: flex-start;
	}
}
	.us-screenlock > div {
		font-size: 26px;
		line-height: 1.4;
		margin: 60px 30px;
		text-shadow: 0 5px 15px #fff;
		}
	.us-screenlock a {
		color: #23ccaa;
		box-shadow: none;
		text-decoration: none;
		}
	.us-screenlock a:hover {
		color: #1eae91;
		}

/* Preloader */
.g-preloader {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 60px;
	height: 60px;
	margin-bottom: 20px;
	}
	.g-preloader.type_1:before,
	.g-preloader.type_1:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 50%;
		border: 3px solid;
		}
	.g-preloader.type_1:before {
		opacity: 0.33;
		}
	.g-preloader.type_1:after {
		border-color: transparent;
		border-top-color: inherit;
		animation: rotation 0.8s infinite cubic-bezier(.6,.3,.3,.6);
		}
@keyframes rotation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
	}

.w-importer {
	padding: 30px 20px;
	margin-left: -20px;
	background-color: #fff;
	}
.us-admin-title {
	text-align: center;
	font-size: 2.8em;
	line-height: 1;
	margin: 0;
	}
.us-admin-subtitle {
	text-align: center;
	font-size: 15px;
	margin-bottom: 20px;
	}
.w-importer-list {
	display: flex;
	flex-wrap: wrap;
	}
	.w-importer-item {
		flex-shrink: 0;
		width: 33.3333%;
		max-width: 666px;
		position: relative;
		overflow: hidden;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		transition: opacity 0.3s;
		}
	.w-importer-item:only-of-type {
		margin: 0 auto;
		width: auto !important;
		}
		.w-importer-item-radio {
			position: absolute;
			visibility: hidden;
			}
		.w-importer-item-preview {
			display: block;
			text-align: center;
			padding: 20px 30px 30px;
			min-height: 270px;
			border: 3px solid transparent;
			transition: border 0.2s;
			}
		.w-importer-item:hover .w-importer-item-preview {
			border-color: #ddd;
			}
			.w-importer-item-title {
				position: relative;
				z-index: 2;
				line-height: 30px;
				margin: 0 0 10px;
				transition: color 0.3s;
				}
				.w-importer-item-title .btn {
					display: inline-block;
					vertical-align: top;
					font-size: 12px;
					text-decoration: none;
					padding: 0 15px;
					margin: 0 5px;
					border-radius: 5em;
					background-color: rgba(0,0,0,0.06);
					color: rgba(0,0,0,0.6);
					transition: background-color 0.2s, color 0.2s;
					}
				.w-importer-item-title .btn:hover {
					background-color: rgba(0,0,0,0.13);
					}
			.w-importer-item-preview img {
				width: 100%;
				height: auto;
				}

.w-importer-item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-color: #23ccaa;
	transform: scale(0.05);
	opacity: 0;
	transition: all 0.3s cubic-bezier(.4,0,.2,1);
	}

/* Item Options */
.w-importer-item-options {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
	padding: 70px 30px 30px;
	box-sizing: border-box;
	pointer-events: none;
	color: #fff;
	transform: scale(0.05);
	opacity: 0;
	transition: opacity 0.3s cubic-bezier(.4,0,.2,1), transform 0.3s cubic-bezier(.4,0,.2,1);
	}
	.w-importer .usof-button {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		font-weight: 600;
		line-height: 46px;
		padding: 0 38px;
		border-radius: 50px;
		margin: 20px 0 0;
		cursor: pointer;
		border: none;
		box-shadow: 0 1px 0 rgba(0,0,0,0.15);
		transition: background-color 0.3s, color 0.3s, opacity 0.3s;
		background-color: #fff;
		color: #222;
		}
	.w-importer .usof-button:not([disabled]):hover {
		color: #23ccaa;
		}
	.w-importer .usof-button[disabled] {
		opacity: 0.5;
		cursor: default;
		}
.w-importer-item-options-h {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	}
	.w-importer .usof-checkbox {
		display: block;
		position: relative;
		padding: 5px 0;
		}
	.w-importer .usof-checkbox.child {
		margin-left: 28px;
		}
		.w-importer .usof-checkbox input {
			display: none;
			}
		.w-importer .usof-checkbox-icon {
			position: absolute;
			top: 5px;
			left: 0;
			font-family: dashicons;
			font-size: 22px;
			text-align: center;
			line-height: 20px;
			height: 20px;
			width: 20px;
			border-radius: 3px;
			background-color: rgba(255,255,255,0.8);
			color: #333;
			transition: background-color 0.15s;
			}
			.w-importer .usof-checkbox-icon:before {
				content: '\f147';
				top: 1px;
				left: -2px;
				opacity: 0;
				position: relative;
				transition: opacity 0.15s;
				}
		.w-importer .usof-checkbox-text {
			display: inline-block;
			vertical-align: top;
			font-size: 15px;
			line-height: 20px;
			font-weight: 600;
			padding-left: 28px;
			color: rgba(255,255,255,0.8);
			transition: color 0.15s;
			}
		.w-importer .usof-checkbox-note {
			display: inline-block;
			vertical-align: bottom;
			cursor: default;
			}
			.w-importer .usof-checkbox-note a {
				box-shadow: none !important;
				color: inherit;
				}
			.w-importer .usof-checkbox-note a:hover {
				color: #000;
				}
		/* checked */
		.w-importer input:checked ~ .usof-checkbox-icon {
			background-color: #fff;
			}
			.w-importer input:checked ~ .usof-checkbox-icon:before {
				opacity: 1;
				}
		.w-importer input:checked ~ .usof-checkbox-text {
			color: inherit;
			}
		/* disabled */
		.w-importer input[disabled] ~ .usof-checkbox-icon {
			background-color: rgba(255,255,255,0.4);
			cursor: not-allowed;
			}
		.w-importer input[disabled] ~ .usof-checkbox-text {
			cursor: not-allowed;
			}

/* Messages */
.w-importer-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
	padding: 70px 50px 30px;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	color: #fff;
	transform: scale(5);
	opacity: 0;
	transition: opacity 0.3s cubic-bezier(.4,0,.2,1), transform 0.3s cubic-bezier(.4,0,.2,1);
	}
	.w-importer-message h2 {
		font-size: 2em;
		line-height: 1.4;
		margin: 0;
		color: inherit;
		}
	.w-importer-message p {
		font-size: 1.2em;
		}
	.w-importer-message.done p {
		max-width: 320px;
		}
	.w-importer-message a {
		box-shadow: none !important;
		color: inherit;
		}
	.w-importer-message a:hover {
		color: #000;
		}

/* Selected Item */
.w-importer-item.selected:before {
	transform: scale(1);
	opacity: 0.94;
	}
.w-importer-item.selected .w-importer-item-options {
	pointer-events: auto;
	transform: scale(1);
	opacity: 1;
	}

/* Importing */
.w-importer.importing .w-importer-title,
.w-importer.importing .w-importer-note,
.w-importer.importing .w-importer-item:not(.selected) {
	pointer-events: none;
	opacity: 0.3;
	}
.w-importer.importing .w-importer-item.selected .w-importer-item-options {
	pointer-events: none;
	transform: scale(0.05);
	opacity: 0;
	}
.w-importer.importing .w-importer-item.selected .w-importer-message.progress {
	pointer-events: auto;
	transform: scale(1);
	opacity: 1;
	}

/* Done (success or error) */
.w-importer.importing.success .w-importer-item.selected:before {
	background-color: #33cc5e;
	}
.w-importer.importing.error .w-importer-item.selected:before {
	background-color: #ff5b4c;
	}
.w-importer.importing.success .w-importer-item.selected .w-importer-message.progress,
.w-importer.importing.error .w-importer-item.selected .w-importer-message.progress {
	pointer-events: none;
	transform: scale(0.05);
	opacity: 0;
	}
.w-importer.importing.success .w-importer-item.selected .w-importer-message.done,
.w-importer.importing.error .w-importer-item.selected .w-importer-message.done {
	pointer-events: auto;
	transform: scale(1);
	opacity: 1;
	}

.rtl .w-importer {
	margin-left: 0;
	margin-right: -20px;
	}
.rtl .w-importer .usof-checkbox.child {
	margin-left: 0;
	margin-right: 28px;
	}
.rtl .w-importer .usof-checkbox-icon {
	left: auto;
	right: 0;
	}
.rtl .w-importer .usof-checkbox-icon:before {
	left: 0;
	}
.rtl .w-importer .usof-checkbox-text {
	padding-left: 0;
	padding-right: 28px;
	}

@media (max-width: 1600px) {
.w-importer-item {
	width: 50%;
	}
}
@media (max-width: 1024px) {
.w-importer-item {
	width: 100%;
	margin: 0 auto;
	}
}
@media (max-width: 782px) {
.w-importer {
	margin-left: -10px;
	}
.rtl .w-importer {
	margin: 0 -10px 0 0;
	}
}
@media (max-width: 480px) {
.w-importer-list {
	margin: 0 -20px;
	}
.w-importer-item-preview {
	border: none;
	padding: 20px;
	}
.w-importer-item-options {
	padding: 70px 20px 20px;
	}
}

/* CUSTOM STYLING FOR WPBakery Page Builder
   ========================================================================== */

/* Correct order of columns for RTL */
.rtl .wpb_vc_column,
.rtl .wpb_vc_column_inner {
	float: right !important;
	}
.rtl .vc_col-xs-offset-0 { margin-right: 0; margin-left: 0 }
.rtl .vc_col-xs-offset-1 { margin-right: 8.3333%; margin-left: 0 }
.rtl .vc_col-xs-offset-2 { margin-right: 16.6666%; margin-left: 0 }
.rtl .vc_col-xs-offset-1\/5 { margin-right: 20%; margin-left: 0 }
.rtl .vc_col-xs-offset-3 { margin-right: 25%; margin-left: 0 }
.rtl .vc_col-xs-offset-4 { margin-right: 33.3333%; margin-left: 0 }
.rtl .vc_col-xs-offset-2\/5 { margin-right: 40%; margin-left: 0 }
.rtl .vc_col-xs-offset-5 { margin-right: 41.6666%; margin-left: 0 }
.rtl .vc_col-xs-offset-6 { margin-right: 50%; margin-left: 0 }
.rtl .vc_col-xs-offset-7 { margin-right: 58.3333%; margin-left: 0 }
.rtl .vc_col-xs-offset-3\/5 { margin-right: 60%; margin-left: 0 }
.rtl .vc_col-xs-offset-8 { margin-right: 66.6666%; margin-left: 0 }
.rtl .vc_col-xs-offset-9 { margin-right: 75%; margin-left: 0 }
.rtl .vc_col-xs-offset-4\/5 { margin-right: 80%; margin-left: 0 }
.rtl .vc_col-xs-offset-10 { margin-right: 83.3333%; margin-left: 0 }
.rtl .vc_col-xs-offset-11 { margin-right: 91.6666%; margin-left: 0 }
.rtl .vc_col-xs-offset-12 { margin-right: 100%; margin-left: 0 }
@media (min-width: 768px) {
.rtl .vc_col-sm-offset-0 { margin-right: 0; margin-left: 0 }
.rtl .vc_col-sm-offset-1 { margin-right: 8.3333%; margin-left: 0 }
.rtl .vc_col-sm-offset-2 { margin-right: 16.6666%; margin-left: 0 }
.rtl .vc_col-sm-offset-1\/5 { margin-right: 20%; margin-left: 0 }
.rtl .vc_col-sm-offset-3 { margin-right: 25%; margin-left: 0 }
.rtl .vc_col-sm-offset-4 { margin-right: 33.3333%; margin-left: 0 }
.rtl .vc_col-sm-offset-2\/5 { margin-right: 40%; margin-left: 0 }
.rtl .vc_col-sm-offset-5 { margin-right: 41.6666%; margin-left: 0 }
.rtl .vc_col-sm-offset-6 { margin-right: 50%; margin-left: 0 }
.rtl .vc_col-sm-offset-7 { margin-right: 58.3333%; margin-left: 0 }
.rtl .vc_col-sm-offset-3\/5 { margin-right: 60%; margin-left: 0 }
.rtl .vc_col-sm-offset-8 { margin-right: 66.6666%; margin-left: 0 }
.rtl .vc_col-sm-offset-9 { margin-right: 75%; margin-left: 0 }
.rtl .vc_col-sm-offset-4\/5 { margin-right: 80%; margin-left: 0 }
.rtl .vc_col-sm-offset-10 { margin-right: 83.3333%; margin-left: 0 }
.rtl .vc_col-sm-offset-11 { margin-right: 91.6666%; margin-left: 0 }
.rtl .vc_col-sm-offset-12 { margin-right: 100%; margin-left: 0 }
}
@media (min-width: 901px) {
.rtl .vc_col-md-offset-0 { margin-right: 0; margin-left: 0 }
.rtl .vc_col-md-offset-1 { margin-right: 8.3333%; margin-left: 0 }
.rtl .vc_col-md-offset-2 { margin-right: 16.6666%; margin-left: 0 }
.rtl .vc_col-md-offset-1\/5 { margin-right: 20%; margin-left: 0 }
.rtl .vc_col-md-offset-3 { margin-right: 25%; margin-left: 0 }
.rtl .vc_col-md-offset-4 { margin-right: 33.3333%; margin-left: 0 }
.rtl .vc_col-md-offset-2\/5 { margin-right: 40%; margin-left: 0 }
.rtl .vc_col-md-offset-5 { margin-right: 41.6666%; margin-left: 0 }
.rtl .vc_col-md-offset-6 { margin-right: 50%; margin-left: 0 }
.rtl .vc_col-md-offset-7 { margin-right: 58.3333%; margin-left: 0 }
.rtl .vc_col-md-offset-3\/5 { margin-right: 60%; margin-left: 0 }
.rtl .vc_col-md-offset-8 { margin-right: 66.6666%; margin-left: 0 }
.rtl .vc_col-md-offset-9 { margin-right: 75%; margin-left: 0 }
.rtl .vc_col-md-offset-4\/5 { margin-right: 80%; margin-left: 0 }
.rtl .vc_col-md-offset-10 { margin-right: 83.3333%; margin-left: 0 }
.rtl .vc_col-md-offset-11 { margin-right: 91.6666%; margin-left: 0 }
.rtl .vc_col-md-offset-12 { margin-right: 100%; margin-left: 0 }
}
@media (min-width: 1200px) {
.rtl .vc_col-lg-offset-0 { margin-right: 0; margin-left: 0 }
.rtl .vc_col-lg-offset-1 { margin-right: 8.3333%; margin-left: 0 }
.rtl .vc_col-lg-offset-2 { margin-right: 16.6666%; margin-left: 0 }
.rtl .vc_col-lg-offset-1\/5 { margin-right: 20%; margin-left: 0 }
.rtl .vc_col-lg-offset-3 { margin-right: 25%; margin-left: 0 }
.rtl .vc_col-lg-offset-4 { margin-right: 33.3333%; margin-left: 0 }
.rtl .vc_col-lg-offset-2\/5 { margin-right: 40%; margin-left: 0 }
.rtl .vc_col-lg-offset-5 { margin-right: 41.6666%; margin-left: 0 }
.rtl .vc_col-lg-offset-6 { margin-right: 50%; margin-left: 0 }
.rtl .vc_col-lg-offset-7 { margin-right: 58.3333%; margin-left: 0 }
.rtl .vc_col-lg-offset-3\/5 { margin-right: 60%; margin-left: 0 }
.rtl .vc_col-lg-offset-8 { margin-right: 66.6666%; margin-left: 0 }
.rtl .vc_col-lg-offset-9 { margin-right: 75%; margin-left: 0 }
.rtl .vc_col-lg-offset-4\/5 { margin-right: 80%; margin-left: 0 }
.rtl .vc_col-lg-offset-10 { margin-right: 83.3333%; margin-left: 0 }
.rtl .vc_col-lg-offset-11 { margin-right: 91.6666%; margin-left: 0 }
.rtl .vc_col-lg-offset-12 { margin-right: 100%; margin-left: 0 }
}

/* Remove "Open Sans" loading on admin pages */
.vc_controls,
.vc_ui-font-open-sans {
	font-family: inherit !important;
	}
.vc_color-helper, .vc_column_color {
	vertical-align: top;
	}

#visual_composer_content {
	margin: 0;
	}
.vc_welcome.vc_not-empty {
	border: none;
	margin: 0;
	}
.vc_row {
	margin: 0 -1px;
	}
.vc_collapsed-row {
	height: 26px;
	margin-bottom: 2px;
	overflow: hidden;
	}
.wpb_vc_row {
	position: relative;
	}
.wpb_vc_row > .controls_row {
	background-color: #999;
	color: #ddd;
	}
.wpb_vc_row_inner > .controls_row {
	background-color: #e6e6e6;
	color: #999;
	}
	.vc_row-hash-id {
		line-height: 26px;
		margin-top: 0;
		color: inherit;
		}
	.vc_controls-row a.vc_control {
		border-radius: 0;
		background-color: transparent;
		color: inherit;
		}
		.vc_control:hover .vc-composer-icon {
			opacity: 1;
			}
	.controls_row .vc_row_layouts {
		font-size: 0;
		border-radius: 0;
		padding: 0;
		margin: 0;
		height: 26px;
		border: none;
		}
		.vc_controls-row .vc_control-set-column {
			height: 26px;
			width: 36px;
			}
			.vc_controls-row .vc_control-set-column .vc-composer-icon {
				left: 50%;
				}
	.wpb_vc_row > .controls_row a.vc_control:hover {
		background-color: rgba(0,0,0,0.25);
		}
	.wpb_vc_row_inner > .controls_row a.vc_control:hover {
		background-color: rgba(0,0,0,0.06);
		}
	.controls_row .column_delete:hover {
		background-color: #f44 !important;
		color: #fff !important;
		}
	.controls_row .column_move {
		background: none !important;
		width: 14px;
		}

.wpb_row_container > .wpb_vc_column,
.wpb_row_container > .wpb_vc_column_inner {
	margin-bottom: 0;
	padding: 0 1px 2px !important;
	}
	.wpb_row_container > .wpb_vc_column > .vc_controls,
	.wpb_row_container > .wpb_vc_column_inner > .vc_controls,
	.vc_shortcodes_container > .controls_column {
		padding: 0 !important;
		line-height: inherit;
		}
		.vc_shortcodes_container > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column_inner > .vc_controls .vc_control {
			border: none;
			width: 30px;
			padding: 3px 0 !important;
			border-radius: 0;
			opacity: 0;
			}
		.vc_shortcodes_container:hover > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column:hover > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column_inner:hover > .vc_controls .vc_control {
			opacity: 1;
			}
		.vc_shortcodes_container > .vc_controls .vc_control:hover,
		.wpb_row_container > .wpb_vc_column > .vc_controls .vc_control:hover,
		.wpb_row_container > .wpb_vc_column_inner > .vc_controls .vc_control:hover {
			background-color: rgba(0,0,0,0.06);
			}

.wpb_content_element {
	background: none !important;
	}
	.wpb_content_element > .wpb_element_wrapper {
		border-radius: 0;
		box-shadow: 0 1px 0 rgba(0,0,0,0.05);
		}
		.wpb_vc_tab .wpb_content_element > .wpb_element_wrapper,
		.wpb_vc_accordion_tab .wpb_content_element > .wpb_element_wrapper,
		.wpb_vc_column_inner .wpb_content_element > .wpb_element_wrapper {
			box-shadow: none;
			}
.vc_placeholder,
.wpb_content_element,
.wpb_vc_row_inner,
.wpb_vc_row_inner.wpb_sortable {
	margin: 1px 0 0;
	}
	.wpb_content_element:first-child,
	.wpb_vc_row_inner:first-child {
		margin: 0;
		}
.wpb_row_container > .wpb_vc_column_inner > .wpb_element_wrapper,
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper {
	padding: 0 14px;
	}
.vc_empty-container {
	min-height: 55px;
	outline: none;
	}
	.vc_empty-container::after {
		display: inline-block;
		}
.wpb_content_element:not(.wpb_vc_column_text) p {
	display: inline;
	font: inherit;
	margin: 0;
	}
.vc_admin_label {
	font-style: normal;
	color: #777;
	}
.rtl .wpb_content_element > .wpb_element_wrapper > .wpb_element_title .vc_element-icon {
	float: right;
	margin-left: 10px;
	margin-right: 0;
	}

/* Grid element */
.wpb_us_grid .wpb_element_title {
	display: inline-block;
	vertical-align: top;
	}
.wpb_us_grid .admin_label_post_type {
	font-size: 1em;
	font-style: normal;
	line-height: 1.2;
	color: #444;
	}
	.wpb_us_grid .admin_label_post_type label {
		display: none;
		}
	.wpb_us_grid .admin_label_post_type:after {
		content: '';
		display: block;
		margin-top: -15px;
		}
.wpb_us_grid .admin_label_items_layout {
	margin-left: 37px;
	}
.rtl .wpb_us_grid .admin_label_items_layout {
	margin-left: 5px;
	margin-right: 42px;
	}
	.wpb_us_grid .admin_label_items_layout:before {
		display: none;
		}

/* Progress Bar element */
.wpb_us_progbar .wpb_element_title {
	font-size: 0;
	}
.wpb_us_progbar .wpb_vc_param_value.title {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	}
.wpb_us_progbar .wpb_vc_param_value.title,
.wpb_us_progbar .wpb_vc_param_value.count {
	font-weight: 600;
	}
.wpb_us_progbar .wpb_vc_param_value.title:after {
	content: ' - ';
	}
.wpb_us_progbar .vc_admin_label {
	display: block;
	margin-top: 3px;
	}
.wpb_us_progbar .vc_admin_label:before {
	display: none;
	}

/* ActionBox, IconBox, Person elements */
.wpb_us_cta .wpb_element_title,
.wpb_us_iconbox .wpb_element_title,
.wpb_us_itext .wpb_element_title,
.wpb_us_flipbox .wpb_element_title,
.wpb_us_person .wpb_element_title {
	font-size: 0;
	}
.wpb_us_cta .wpb_vc_param_value.title,
.wpb_us_iconbox .wpb_vc_param_value.title,
.wpb_us_flipbox .wpb_vc_param_value.front_title,
.wpb_us_flipbox .wpb_vc_param_value.back_title,
.wpb_us_person .wpb_vc_param_value.name {
	font-weight: 600;
	}
.wpb_us_cta .wpb_vc_param_value.content,
.wpb_us_iconbox .wpb_vc_param_value.content,
.wpb_us_flipbox .wpb_vc_param_value.front_description,
.wpb_us_person .wpb_vc_param_value.content,
.wpb_us_gmaps .wpb_vc_param_value.marker_address,
.wpb_vc_param_value.content.textarea_raw_html {
	font-size: 11px;
	line-height: 16px;
	margin-top: 3px;
	color: #777;
	}

/* Page Block element */
#us_page_block .vc_element-icon {
	background: #3d93f7;
	}
.wpb_us_page_block .wpb_element_wrapper {
	border: 2px dashed #3d93f7;
	min-height: 29px;
	}
.wpb_us_page_block .wpb_element_title {
	display: none;
	}
.wpb_us_page_block .vc_admin_label {
	font-size: 18px;
	line-height: 29px;
	color: inherit;
	}

/* Counter element */
#us_counter .vc_element-icon {
	background: #7f8894;
	}
	#us_counter .vc_element-icon:before {
		content: '99';
		font-size: 17px;
		font-weight: bold;
		font-family: Roboto,"Helvetica Neue",sans-serif;
		}
.wpb_us_counter .wpb_element_title {
	display: none;
	}
.wpb_us_counter .wpb_vc_param_value.final {
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	font-weight: 600;
	padding: 4px 8px;
	border-radius: 3px;
	background: #7f8894;
	color: #fff;
	}
.wpb_us_counter .wpb_vc_param_value.title {
	display: block;
	margin-top: 3px;
	}
.wpb_us_counter .vc_admin_label:before {
	display: none;
	}

/* Custom Heading element */
.wpb_vc_custom_heading .wpb_element_title {
	font-size: 0;
	}
.wpb_vc_custom_heading .vc_admin_label {
	font-size: 15px;
	line-height: 32px;
	font-weight: 600;
	font-style: normal;
	color: inherit;
	}

/* Button element */
.wpb_us_btn .wpb_element_title {
	display: none;
	}
.wpb_us_btn .wpb_vc_param_value {
	font-weight: 600;
	line-height: 33px;
	padding: 0 12px;
	border: none;
	border-radius: 3px;
	background: #ddd;
	color: #444;
	}
	.wpb_us_btn .wpb_vc_param_value i {
		vertical-align: top;
		line-height: inherit;
		}
	.wpb_us_btn .wpb_vc_param_value > * {
		margin: 0 3px !important;
		}

/* Separator element */
.wpb_us_separator > .wpb_element_wrapper {
	display: flex;
	padding: 0;
	box-shadow: none;
	text-align: center;
	background: url(data:image/gif;base64,R0lGODlhAgAFAPABANbW1v///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAAgAFAAACBERuGAUAOw==) repeat-x center;
	}
	.wpb_us_separator .wpb_element_title {
		display: none;
		}
	.wpb_us_separator .vc_admin_label {
		line-height: 33px;
		padding-right: 6px;
		margin: 0 !important;
		background-color: #f5f5f5;
		}
	.wpb_us_separator .textfield {
		font-size: 11px;
		line-height: 33px;
		background-color: #f5f5f5;
		}
	.wpb_us_separator .textfield.height {
		padding-right: 6px;
		color: #777;
		}
	.wpb_us_separator .textfield.text {
		padding: 0 6px;
		margin: 0 auto;
		}
	.wpb_us_separator .textfield:empty {
		display: none;
		}
	.wpb_vc_row_inner .wpb_us_separator .textfield,
	.wpb_vc_row_inner .wpb_us_separator .vc_admin_label,
	.wpb_vc_tta_section .wpb_us_separator .textfield,
	.wpb_vc_tta_section .wpb_us_separator .vc_admin_label {
		background-color: #fff;
		}

/* Text Block element */
#visual_composer_content .wpb_vc_column_text h1,
#visual_composer_content .wpb_vc_column_text h2,
#visual_composer_content .wpb_vc_column_text h3,
#visual_composer_content .wpb_vc_column_text h4,
#visual_composer_content .wpb_vc_column_text h5,
#visual_composer_content .wpb_vc_column_text h6 {
	font-weight: normal;
	line-height: 1.4;
	padding: 0;
	margin: 0 0 1rem;
	color: #333;
	}
	#visual_composer_content .wpb_vc_column_text h1:last-child,
	#visual_composer_content .wpb_vc_column_text h2:last-child,
	#visual_composer_content .wpb_vc_column_text h3:last-child,
	#visual_composer_content .wpb_vc_column_text h4:last-child,
	#visual_composer_content .wpb_vc_column_text h5:last-child,
	#visual_composer_content .wpb_vc_column_text h6:last-child {
		margin: 0;
		}
#visual_composer_content .wpb_vc_column_text h1 {
	font-size: 2.2em;
	}
#visual_composer_content .wpb_vc_column_text h2 {
	font-size: 2em;
	}
#visual_composer_content .wpb_vc_column_text h3 {
	font-size: 1.8em;
	}
#visual_composer_content .wpb_vc_column_text h4 {
	font-size: 1.6em;
	}
#visual_composer_content .wpb_vc_column_text h5 {
	font-size: 1.4em;
	}
#visual_composer_content .wpb_vc_column_text h6 {
	font-size: 1.2em;
	}

/* Custom icons for elements */
.vc_element-icon {
	font-size: 20px;
	line-height: 32px !important;
	font-style: normal;
	text-align: center;
	border-radius: 3px;
	color: #fff;
	}
	.vc_element-icon:before {
		vertical-align: top;
		line-height: inherit;
		font-size: 16px;
		font-family: fontawesome;
		}
#us_iconbox .vc_element-icon,
.wpb_us_iconbox .vc_element-icon {
	font-size: 16px;
	border-radius: 50%;
	background: #7f8894;
	}
	#us_iconbox .vc_element-icon:before {
		content: '\f005';
		}
#us_scroller .vc_element-icon,
.wpb_us_scroller .vc_element-icon {
	background: #edebec;
	color: #666;
	}
#us_grid .vc_element-icon,
.wpb_us_grid .vc_element-icon {
	background: #23ccaa;
	}
.wpb_us_page_block .vc_element-icon {
	background: #0073aa;
	}
#us_flipbox .vc_element-icon,
.wpb_us_flipbox .vc_element-icon {
	background: #b26daa;
	}
#us_cform .vc_element-icon,
.wpb_us_cform .vc_element-icon {
	background: #7f8894;
	}
#us_person .vc_element-icon,
.wpb_us_person .vc_element-icon {
	background: #f49a53;
	}
#us_itext .vc_element-icon,
.wpb_us_itext .vc_element-icon {
	background: #f49a53;
	}
#us_sharing .vc_element-icon,
.wpb_us_sharing .vc_element-icon {
	background: #f06e6a;
	}
#us_contacts .vc_element-icon,
.wpb_us_contacts .vc_element-icon {
	background: #57b7e1;
	}
#us_popup .vc_element-icon,
.wpb_us_popup .vc_element-icon {
	background: #57b7e1;
	}
#us_pricing .vc_element-icon,
.wpb_us_pricing .vc_element-icon {
	background: #9bc065;
	}
#us_breadcrumbs .vc_element-icon,
#us_page_title .vc_element-icon,
#us_post_title .vc_element-icon,
#us_post_image .vc_element-icon,
#us_post_date .vc_element-icon,
#us_post_author .vc_element-icon,
#us_post_taxonomy .vc_element-icon,
#us_post_comments .vc_element-icon,
#us_post_navigation .vc_element-icon,
#us_post_content .vc_element-icon,
#us_post_custom_field .vc_element-icon,
.wpb_us_breadcrumbs .vc_element-icon,
.wpb_us_page_title .vc_element-icon,
.wpb_us_post_title .vc_element-icon,
.wpb_us_post_image .vc_element-icon,
.wpb_us_post_date .vc_element-icon,
.wpb_us_post_author .vc_element-icon,
.wpb_us_post_taxonomy .vc_element-icon,
.wpb_us_post_comments .vc_element-icon,
.wpb_us_post_navigation .vc_element-icon,
.wpb_us_post_content .vc_element-icon,
.wpb_us_post_custom_field .vc_element-icon {
	background: #0073aa;
	}
#us_hwrapper .vc_element-icon,
.vc_element-icon.fa-ellipsis-h {
	background: #faf0e6;
	color: #f70;
	}

/* "Add Element" window */
.vc_add-element-container .wpb-content-layouts li {
	background: none;
	border: none;
	}
.vc_add-element-container .wpb-content-layouts li:hover {
	background: #f1f1f1;
	}
	.vc_add-element-container .wpb-content-layouts a {
		color: #444;
		}

/* Elements settings window */
.vc_ui-panel-window-inner,
.vc_ui-panel-content-container {
	color: inherit !important;
	}
.vc_ui-panel-content {
	padding-top: 5px;
	margin-top: 0 !important;
	}
.wpb_edit_form_elements .vc_column:first-child {
	padding-top: 15px;
	}
.wpb_edit_form_elements .vc_column.for_above {
	padding: 0 15px !important;
	}
.wpb_edit_form_elements textarea,
.wpb_edit_form_elements input[type="text"],
.wpb_edit_form_elements input[type="password"],
.wpb_edit_form_elements input[type="file"],
.wpb_edit_form_elements input[type="email"],
.wpb_edit_form_elements input[type="number"],
.wpb_edit_form_elements input[type="search"],
.wpb_edit_form_elements input[type="tel"],
.wpb_edit_form_elements input[type="url"],
.wpb_edit_form_elements select {
	height: 38px;
	background-color: #f5f5f5;
	box-shadow: none;
	}
.wpb_edit_form_elements textarea {
	height: auto;
	min-height: 100px;
	}
.vc_properties-list input[type="checkbox"] {
	margin-left: 0;
	}
.vc_checkbox-label {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	}
div[data-vc-shortcode-param-name="categories"] .vc_checkbox-label {
	margin: 0 10px 5px 0;
	}
.rtl div[data-vc-shortcode-param-name="categories"] .vc_checkbox-label {
	margin: 0 0 5px 10px;
	}
.vc_description {
	font-size: 13px;
	line-height: 18px;
	font-style: normal;
	margin-top: 3px;
	}
.usof-example {
	border-bottom: 1px dotted;
	cursor: pointer;
	}
.usof-example:hover {
	color: #333;
	}
.vc_column.wpb_el_type_colorpicker {
	width: 50%;
	}

/* Design Options tab */
.vc_css-editor > div {
	padding: 0 0 20px !important;
	width: 100% !important;
}

.vc_css-editor .vc_margin,
.vc_css-editor .vc_padding,
.vc_css-editor .vc_border {
	padding: 50px 70px;
	margin: 0 !important;
	border: 0 !important;
	}
.vc_css-editor .vc_margin {
	background: #fffbad !important;
	}
.vc_css-editor .vc_border {
	background: #d4e6ff !important;
	}
.vc_css-editor .vc_padding {
	background: #d2ffc7 !important;
	}
.vc_css-editor .vc_content {
	margin: 0 !important;
	border: 0 !important;
	background: rgba(0,0,0,0.1);
	}
	.vc_css-editor .vc_content i {
		display: none !important;
		}
.vc_css-editor .vc_layout-onion label {
	font-size: 14px;
	font-weight: 600;
	left: 6px;
	color: inherit;
	}
.vc_css-editor .vc_layout-onion input {
	font-size: inherit;
	width: 58px;
	margin: 6px;
	}
.vc_css-editor .vc_layout-onion input.vc_top {
	top: 0;
	margin-left: -29px;
	}
.vc_css-editor .vc_layout-onion input.vc_bottom {
	bottom: 0;
	margin-left: -29px;
	}
.vc_css-editor .vc_layout-onion input.vc_left {
	left: 0;
	margin-top: -19px;
	}
.vc_css-editor .vc_layout-onion input.vc_right {
	right: 0;
	margin-top: -19px;
	}
.vc_css-editor.vc_simplified .vc_layout-onion .vc_top {
	top: 16px;
	left: 35px;
	}
.vc_css-editor .wp-picker-container label {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	}
.vc_css-editor .wp-picker-container .wp-picker-holder {
	left: auto !important;
	}

/* Column Responsive Options table */
.vc_column-offset-table > tbody > tr > td {
	padding: 8px;
	vertical-align: middle;
	}

/* Param Group and Inner options */
.vc_param_group-list .vc_param {
	margin-bottom: 2px;
	}
.vc_param_group-list .vc_controls-row .vc_control {
	padding: 8px;
	border: none;
	margin: 0;
	background-color: transparent;
	}
.vc_param_group-list .vc_controls-row .vc_control:hover {
	background-color: rgba(0,0,0,0.06);
	}
.vc_param_group-list .vc_controls-row .vc_control.column_toggle {
	text-align: right;
	width: calc(100% - 118px);
	}
.vc_param_group-list .vc-c-icon-dragndrop {
	display: block;
	line-height: 18px;
	width: 18px;
	}
.vc_param-group-admin-labels {
	position: absolute;
	left: 34px;
	font-style: normal;
	text-align: initial;
	height: 25px;
	margin: 5px 100px 0 5px;
	overflow: hidden;
	pointer-events: none;
	color: inherit;
	}
	.vc_param-group-admin-labels > label {
		color: #999;
		}
.vc_settings .vc_param .vc_controls {
	background-color: #e6e6e6;
	}
.wpb_edit_form_elements .vc_param_group-wrapper textarea,
.wpb_edit_form_elements .vc_param_group-wrapper input,
.wpb_edit_form_elements .vc_param_group-wrapper select {
	background-color: #fff;
	}

/* Elements labels */
.wpb_content_element .vc_admin_label:before {
	content: '\2013';
	margin-right: 5px;
	}
.rtl .wpb_content_element .vc_admin_label:before {
	margin-left: 5px;
	margin-right: 0;
	}
.wpb_content_element h4 + .vc_admin_label:before {
	display: none;
	}

/* Message Box element */
.wpb_us_message .wpb_element_title {
	font-size: 0;
	}
.wpb_us_message .blue,
[data-vc-shortcode="us_message"] .wpb-select option.blue {
	background-color: #cef;
	color: #3a648e;
	}
.wpb_us_message .yellow,
[data-vc-shortcode="us_message"] .wpb-select option.yellow {
	background-color: #fff2b2;
	color: #846534;
	}
.wpb_us_message .green,
[data-vc-shortcode="us_message"] .wpb-select option.green {
	background-color: #c9f7b2;
	color: #587549;
	}
.wpb_us_message .red,
[data-vc-shortcode="us_message"] .wpb-select option.red {
	background-color: #ffd9d9;
	color: #a24141;
	}

/* Color picker alpha bar */
.vc_color-picker .wp-picker-holder .vc_alpha-container {
	bottom: -45px;
	border-top: 0;
	}

/* Dropdown options */
.wpb-select.orderby,
.wpb-select.attachment {
	width: 100% !important;
	box-shadow: none !important;
	}
.wpb-select.fade,
.wpb-select option.fade {
	opacity: 1 !important;
	}
.wpb-select option.alternate {
	background-color: #f5f5f5 !important;
	}
div[data-title="Edit Message Box"] .wpb-select.color {
	font-weight: normal;
	background-color: #f5f5f5 !important;
	border-color: #ddd !important;
	color: #222 !important;
	}
.wpb-select option.white {
	background-color: #fff;
	color: #444;
	}
.wpb-select option.black {
	background-color: #000;
	color: #fff;
	}
.wpb-select option.red {
	background-color: #f40;
	color: #fff;
	}
.wpb-select option.blue {
	background-color: #5ac8ed;
	color: #fff;
	}
.wpb-select option.green {
	background-color: #59ba41;
	color: #fff;
	}
.wpb-select option.yellow {
	background-color: #fac000;
	color: #fff;
	}
.wpb-select option.midnight {
	background-color: #2c3e50;
	color: #fff;
	}
.wpb-select option.purple {
	background-color: #8560a8;
	color: #fff;
	}
.wpb-select option.pink {
	background-color: #ff6b93;
	color: #fff;
	}
.wpb-select option.navy {
	background-color: #1265a8;
	color: #fff;
	}
.wpb-select option.teal {
	background-color: #008b83;
	color: #fff;
	}
.wpb-select option.brown {
	background-color: #6a4530;
	color: #fff;
	}
.wpb-select option.cream {
	background-color: #f5ddbf;
	color: #3d3934;
	}
.wpb-select option.lime {
	background-color: #baeb59;
	color: #323629;
	}

/* Autocomplete field (us_grid) */
.vc_autocomplete-field .vc_autocomplete {
	background-color: #f5f5f5;
	padding: 0;
	}
	.vc_autocomplete-field .vc_autocomplete li.vc_autocomplete-label {
		cursor: default;
		font-size: 13px;
		line-height: 20px;
		padding: 5px 30px 5px 10px;
		border-radius: 0;
		border: none;
		background: #0473aa;
		}
	.vc_autocomplete-field .vc_autocomplete.ui-sortable li.vc_autocomplete-label {
		cursor: move;
		}
		.vc_autocomplete-field .vc_autocomplete li.vc_autocomplete-label .vc_autocomplete-remove {
			top: 0;
			right: 0;
			height: auto;
			line-height: 28px;
			width: 30px;
			color: inherit;
			}
	.vc_autocomplete-field .vc_autocomplete li.vc_autocomplete-input input {
		line-height: 38px;
		padding: 0 6px;
		}
.ui-autocomplete {
	box-shadow: none;
	}
	.ui-autocomplete a {
		transition: none;
		color: inherit;
		}
	.ui-autocomplete .ui-state-focus {
		background-color: #0473aa;
		color: #fff;
		}
	.vc_autocomplete-item i,
	.vc_autocomplete-label i {
		font-size: 11px;
		font-style: normal;
		opacity: 0.66;
		}

/* Google Maps colorpicker */
.vc_column.wpb_el_type_colorpicker[data-vc-shortcode-param-name="map_bg_color"] {
	width: 100%;
	}

/* Textarea for Google Maps Settings */
.vc_edit_form_elements .pretend_textfield .textarea_raw_html {
	font-family: Consolas, monospace;
	font-size: inherit;
	word-break: normal;
	height: 80px;
	color: #32373c;
	}

/* Columns option dropdown */
.vc_shortcode-param .wpb-input.columns {
	min-height: 0;
	width: 100%;
	}

/* Removing duplicating Design Options for Row Settings */
.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_border-radius + label,
.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_border-radius ~ .color-group,
.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_background-image,
.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_background-style {
	display: none;
	}

/* Fixing UI for ActionBox Settings */
.vc_column.us_vc_checkbox_lineheight {
	margin-top: 25px;
	}
.vc_column.newline {
	clear: left;
	}

/* vc_column_text: Fixing animation label that will still be present even after the animation param is actually removed */
.wpb_vc_column_text .admin_label_css_animation {
	display: none !important;
	}

/* Fixing invisible message box of Ultimate Addons */
.wrap > .fade {
	opacity: 1;
	}

/* Fixing row background status label of Ultimate Addons */
.vc_admin_label.admin_label_bg_type {
	position: absolute;
	right: 170px;
	top: 0;
	z-index: 11;
	line-height: 24px;
	color: #ddd;
	}

/* Fixing colorpicker width of Separator element */
.vc_ui-panel-window[data-vc-shortcode="us_separator"] .vc_column.wpb_el_type_colorpicker {
	width: 100%;
	}

/* Selected image instead of icon at some element's backend editor */
.vc_element-icon.attachment-thumbnail[src] {
	background-image: none !important;
	}

/* Remove background value of Ultimate Addons when it is disabled */
.wpb_vc_param_value.colorpicker {
	display: none;
	}

/* Fixing "Random Order" checkbox */
.vc_properties-list input[type="checkbox"].orderby {
	float: none;
	min-height: 0;
	margin-top: 0;
	margin-bottom: 0;
	}

/* US_ICON control */
.us-icon {
	display: flex;
	align-items: flex-start;
	}
.us-icon select {
	width: auto;
	background: none;
	}
.us-icon-preview {
	flex-shrink: 0;
	font-size: 20px;
	line-height: 36px;
	height: 36px;
	text-align: center;
	width: 36px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #ddd;
	}
	.us-icon-preview i {
		vertical-align: top;
		line-height: inherit;
		}
.us-icon-input {
	flex-grow: 1;
	}
.us-icon-desc,
.us-grid-layout-desc-add,
.us-grid-layout-desc-edit {
	font-size: 13px;
	line-height: 18px;
	padding-top: 4px;
	color: #999;
	}

.image-icon img[src*='.svg'] {
	width: 100%;
	height: auto;
	}

/*==================== TEMP Design Options ==============================*/
/* Design Options Control */
.usof-design-control {
	margin-bottom: 40px;
	}
.usof-design-control:last-child {
	margin-bottom: 0;
	}
	.usof-design-control-title {
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		margin: 0 0 10px;
		}
		.usof-design-control-title:before {
			font-family: fontawesome;
			font-weight: 900;
			margin-right: 10px;
			}
		.usof-design-control.for_default .usof-design-control-title:before {
			content: '\f108';
			}
		.usof-design-control.for_tablets .usof-design-control-title:before {
			content: '\f3fa';
			}
		.usof-design-control.for_mobiles .usof-design-control-title:before {
			content: '\f3cd';
			}
	.usof-design-control:only-child .usof-design-control-title {
		display: none;
		}
	.usof-design input[type="text"] {
		position: absolute;
		text-align: center;
		font-size: 13px;
		padding: 7px 0;
		width: 55px;
		background: #fff;
		border-color: #ddd;
		}
	.usof-design input.top {
		top: 5px;
		left: 50%;
		transform: translateX(-50%);
		}
	.usof-design input.right {
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
		}
	.usof-design input.bottom {
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		}
	.usof-design input.left {
		top: 50%;
		left: 5px;
		transform: translateY(-50%);
		}
	.usof-design-position,
	.usof-design-margin,
	.usof-design-border,
	.usof-design-padding {
		position: relative;
		padding: 50px 65px;
		}
	.usof-design-position {
		background-color: #ffdbdb;
		}
	.usof-design-margin {
		background-color: #fffbad;
		}
	.usof-design-border {
		background-color: #d4e6ff;
		}
	.usof-design-padding {
		background-color: #d2ffc7;
		}
		.usof-design-padding:after {
			content: '';
			display: block;
			height: 50px;
			background-color: rgba(0,0,0,0.1);
			}
		.usof-design-attr {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 5px;
			line-height: 20px;
			font-weight: 600;
			}
	.usof-design-position.pos_off > *:not(.usof-design-margin),
	.usof-design .linked > .left,
	.usof-design .linked > .right,
	.usof-design .linked > .bottom {
		opacity: 0.33;
		pointer-events: none;
		}
	.usof-design-control .usof-switcher {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;
		}

/* TYPE Color */
.usof-form-row.type_color .usof-form-row-control {
	white-space: nowrap;
	}
.usof-color {
	display: inline-block;
	vertical-align: top;
	position: relative;
	line-height: 40px;
	width: 208px;
	background:	url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMFJREFUeNrsVlsOhCAM7Jg9j97/GHChMTxcC9UPTNatif0AIxhmOlMqSMpIhBiG9k/y43gP+P8Bn/FPkIbiPZQhTRSafXDKoMDL4DNqWn7fNccMlAYF66ZE/8avBvu0qUG1sPvKLQOFlo0GigfvcVGI8cQbNr8plnlxehflPELlMbMhYDzu7zaluj1onM7GL0/sB+ic7pGBxcXu+QkuqhhrJasartXQ9iqPGtQKOO20lKscbtbAIAXk8J/HEYNVgAEAHShEyUuW684AAAAASUVORK5CYII=");
	background-size: 16px;
	}
	.usof-color-preview {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		}
	.usof-color input.usof-color-value {
		display: block;
		direction: ltr;
		position: relative;
		font-family: monospace;
		font-weight: 600;
		text-align: center;
		height: inherit;
		padding: 0;
		margin: 0;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.06) inset;
		background: none !important;
		border: none !important;
		border-radius: 0;
		color: #333;
		}
	.usof-color input.usof-color-value.white {
		color: #fff;
		}
	.usof-color-clear {
		position: absolute;
		top: 0;
		left: -30px;
		text-align: center;
		font-size: 18px;
		width: 30px;
		cursor: pointer;
		opacity: 0;
		}
	.usof-form-row.clear_right .usof-color-clear {
		left: auto;
		right: -30px;
		}
	.usof-color:hover .usof-color-clear {
		opacity: 0.5;
		}
	.usof-color-clear:hover {
		opacity: 1 !important;
		}
		.usof-color-clear:before {
			content: '\f05e';
			font-family: fontawesome;
			font-weight: 900;
			vertical-align: top;
			}
.usof-color-text {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	margin: 8px 15px;
	}
.usof-color.active + .usof-color-text,
.usof-color:hover + .usof-color-text {
	color: #23ccaa;
	}