/*
 * Carousel (used in Grid)
 */

/* In code below always remove img{display:block;} to avoid conflicts with theme elements */

/* Owl Carousel v2.3.0 https://owlcarousel2.github.io/OwlCarousel2/
========================================================================== */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{backface-visibility:hidden;transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:none;touch-action:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;cursor:pointer;z-index:1;backface-visibility:hidden;transition:transform .1s}.owl-carousel .owl-video-play-icon:hover{transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}

.owl-carousel ~ .g-preloader {
	display: block;
	margin: 1rem auto;
	}
.owl-carousel.owl-loaded ~ .g-preloader {
	display: none;
	}
.owl-carousel > * {
	width: auto !important;
	}
.owl-carousel .owl-item {
	flex-shrink: 0;
	}

/* Arrows */
.owl-carousel .owl-nav div {
	position: absolute;
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s, color 0.3s;
	}
	.owl-prev:before {
		content: 'keyboard_arrow_left';
		font-family: 'Material Icons';
		padding-right: 0.2rem;
		}
	.owl-next:before {
		content: 'keyboard_arrow_right';
		font-family: 'Material Icons';
		padding-left: 0.2rem;
		}

/* Arrows Pos: Outside */
.owl-carousel.navpos_outside .owl-prev {
	right: 100%;
	}
.owl-carousel.navpos_outside .owl-next {
	left: 100%;
	}
.owl-carousel.navpos_outside .owl-nav div:hover {
	background-color: rgba(0,0,0,0.1);
	}

/* Arrows Pos: Inside */
.owl-carousel.navpos_inside .owl-prev {
	left: 0;
	}
.owl-carousel.navpos_inside .owl-next {
	right: 0;
	}
.owl-carousel.navpos_inside .owl-nav div {
	text-shadow: 0 1px 3px rgba(0,0,0,0.3);
	color: #fff;
	}
.owl-carousel.navpos_inside .owl-nav div:hover {
	background-color: rgba(0,0,0,0.5);
	}

/* Arrows Style: Circle */
.owl-carousel.navstyle_circle .owl-nav div {
	top: 50%;
	height: 3.5rem;
	width: 3.5rem;
	transform: translateY(-50%);
	border-radius: 50%;
	}
	.owl-carousel.navstyle_circle.with_dots .owl-nav div {
		margin-top: calc(-10px - 0.5rem);
		}

/* Arrows Style: Block */
.owl-carousel.navstyle_block .owl-nav div {
	top: 0;
	bottom: 0;
	width: 4rem;
	}
.owl-carousel.navstyle_block.with_dots .owl-nav div {
	bottom: calc(20px + 1rem);
	}

/* Dots */
.owl-dots {
	text-align: center;
	line-height: 0;
	padding-top: 1rem;
	}
	.owl-dot span {
		display: block;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.3);
		width: 8px; /* fixed value */
		height: 8px; /* fixed value */
		margin: 6px; /* fixed value */
		}
	.owl-dot.active span {
		background-color: rgba(0,0,0,0) !important;
		border: 1px solid;
		width: 10px; /* fixed value */
		height: 10px; /* fixed value */
		margin: 5px; /* fixed value */
		}
	.color_primary .owl-dot span,
	.color_secondary .owl-dot span,
	.color_custom .owl-dot span {
		background-color: rgba(255,255,255,0.4);
		}
	.color_primary .owl-dot.active span,
	.color_secondary .owl-dot.active span,
	.color_custom .owl-dot.active span {
		border-color: #fff;
		}
