/*
 * Popup (lightbox)
 */

/* Grid Popup
   ========================================================================== */
html.usoverlay_fixed {
	overflow: hidden;
	}
html[style*="hidden"] .header_hor .l-header.pos_fixed,
html.usoverlay_fixed .header_hor .l-header.pos_fixed {
	overflow-y: scroll;
	}
.l-popup-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1001;
	background-color: rgba(0,0,0,0.8);
	transition: opacity 0.3s;
	opacity: 0;
	}
.l-popup-overlay.active {
	opacity: 1;
	}
.l-popup-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	cursor: zoom-out;
	z-index: 1002;
	}
	.l-popup-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 2rem 5rem;
		transform: scale(0.5);
		opacity: 0;
		transition: opacity 0.3s, transform 0.3s;
		}
	.l-popup-box.active {
		transform: scale(1);
		opacity: 1;
		}
		.l-popup-box-content {
			cursor: default;
			height: 100%;
			width: 100%;
			transition: height 0.2s;
			-webkit-overflow-scrolling: touch;
			overflow-y: auto;
			}
		.no-touch .l-popup-box-content {
			overflow-y: hidden;
			}
			.l-popup-box-content .g-preloader {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				font-size: 4rem;
				display: inline-block;
				}
			.l-popup-box-content-frame {
				height: 100%;
				width: 100%;
				}
	.l-popup-arrow {
		position: fixed;
		transform: translateZ(0); /* render fix for webkit browsers */
		top: 50%;
		text-align: center;
		font-weight: normal;
		font-size: 3rem;
		font-family: 'Material Icons';
		line-height: 15rem;
		width: 5rem;
		margin-top: -7.5rem;
		cursor: pointer;
		color: #fff;
		transition: opacity 0.3s, background-color 0.3s;
		opacity: 0;
		}
	.l-popup-box.active ~ .l-popup-arrow {
		opacity: 0.5;
		}
	.no-touch .l-popup-box.active ~ .l-popup-arrow:hover {
		background-color: rgba(0,0,0,0.5);
		opacity: 1;
		}
	.l-popup-arrow.to_next {
		right: 0;
		}
		.l-popup-arrow.to_next:before {
			content: 'keyboard_arrow_right';
			vertical-align: top;
			}
	.l-popup-arrow.to_prev {
		left: 0;
		}
		.l-popup-arrow.to_prev:before {
			content: 'keyboard_arrow_left';
			vertical-align: top;
			}
	.l-popup-closer {
		position: fixed;
		transform: translateZ(0); /* render fix for webkit browsers */
		top: 0;
		right: 0;
		text-align: center;
		font-size: 2rem;
		line-height: 5rem;
		width: 5rem;
		cursor: zoom-out;
		color: #fff;
		transition: opacity 0.3s;
		opacity: 0;
		}
	.l-popup-box.active ~ .l-popup-closer {
		opacity: 0.5;
		}
		.l-popup-closer:before {
			content: 'close';
			font-family: 'Material Icons';
			vertical-align: top;
			}



/* Magnific Popup v1.1.0 http://dimsemenov.com/plugins/magnific-popup/
========================================================================== */
.mfp-bg,.mfp-wrap{position:fixed;left:0;top:0}.mfp-bg,.mfp-container,.mfp-wrap{height:100%;width:100%}.mfp-arrow:after,.mfp-arrow:before,.mfp-container:before,.mfp-figure:after{content:''}.mfp-bg{z-index:1042;overflow:hidden;background:#0b0b0b;opacity:.8}.mfp-wrap{z-index:1043;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;left:0;top:0;padding:0 8px;box-sizing:border-box}.mfp-container:before{display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#CCC;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#CCC}.mfp-close,.mfp-preloader a:hover{color:#FFF}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;box-shadow:none;touch-action:manipulation}.mfp-figure:after,.mfp-iframe-scaler iframe{box-shadow:0 0 8px rgba(0,0,0,.6);position:absolute;left:0}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;padding:0 0 18px 10px;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#FFF;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#CCC;font-size:12px;line-height:18px;white-space:nowrap}.mfp-figure,img.mfp-img{line-height:0}.mfp-arrow{position:absolute;opacity:.65;margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1}.mfp-arrow:after,.mfp-arrow:before{display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}.mfp-arrow-left{left:0}.mfp-arrow-left:after{border-right:17px solid #FFF;margin-left:31px}.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3F3F3F}.mfp-arrow-right{right:0}.mfp-arrow-right:after{border-left:17px solid #FFF;margin-left:39px}.mfp-arrow-right:before{border-left:27px solid #3F3F3F}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-image-holder .mfp-content,img.mfp-img{max-width:100%}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{display:block;top:0;width:100%;height:100%;background:#000}.mfp-figure:after,img.mfp-img{width:auto;height:auto;display:block}img.mfp-img{box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure:after{top:40px;bottom:40px;right:0;z-index:-1;background:#444}.mfp-figure small{color:#BDBDBD;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#F3F3F3;word-wrap:break-word;padding-right:36px}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}

.mfp-bg {
	z-index: 10003;
	}
.mfp-wrap {
	z-index: 10004;
	} 
.mfp-container:after {
	content: 'close';
	font-family: 'Material Icons';
	position: absolute;
	z-index: 1047;
	top: 0;
	right: 0;
	font-size: 2rem;
	text-align: center;
	line-height: 5rem;
	width: 5rem;
	color: #fff;
	}
.admin-bar .mfp-container:after {
	top: 32px; /* fixed value */
	}
.mfp-close,
.mfp-arrow:after {
	display: none !important;
	}
.mfp-arrow:before {
	content: 'keyboard_arrow_left';
	font-family: 'Material Icons';
	font-size: 4rem;
	font-weight: normal;
	line-height: 110px; /* fixed value */
	width: 100%;
	margin: 0;
	border: none;
	color: #fff;
	}
.mfp-arrow.mfp-arrow-right:before {
	content: 'keyboard_arrow_right';
	}
.mfp-figure img[src*=".svg"] {
	width: 100vh;
	}
.mfp-figure:after {
	box-shadow: 0 3px 3px rgba(0,0,0,0.1), 0 5px 8px rgba(0,0,0,0.16), 0 9px 20px rgba(0,0,0,0.16);
	}
.mfp-preloader {
	font-size: 0;
	left: 50%;
	right: auto;
	margin: -1.5rem 0 0 -1.5rem;
	height: 3rem;
	width: 3rem;
	color: #fff;
	transition: opacity 0.2s ease 0.1s;
	}
.mfp-s-ready .mfp-preloader {
	display: block;
	opacity: 0;
	}
	.mfp-preloader:before,
	.mfp-preloader:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 50%;
		border: 2px solid;
		}
	.mfp-preloader:before {
		opacity: 0.2;
		}
	.mfp-preloader:after {
		border-top-color: transparent;
		animation: rotation 0.8s infinite cubic-bezier(.6,.3,.3,.6);
		}
.mfp-title {
	font-size: 0.9rem;
	}

/* Animation */
.mfp-fade.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s;
	}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
	}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
	}
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	transform: scale(0.5);
	transition: transform 0.2s, opacity 0.2s;
	}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
	transform: scale(1);
	}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
	transform: scale(0.5);
	}
.mfp-fade.mfp-wrap .mfp-container:after,
.mfp-fade.mfp-wrap .mfp-arrow {
	opacity: 0 !important;
	transition: opacity 0.2s;
	}
.mfp-fade.mfp-wrap.mfp-ready .mfp-container:after,
.mfp-fade.mfp-wrap.mfp-ready .mfp-arrow {
	opacity: 0.66 !important;
	}
.no-touch .mfp-fade.mfp-wrap.mfp-ready .mfp-arrow:hover {
	opacity: 1 !important;
	}
.mfp-fade.mfp-wrap.mfp-removing .mfp-container:after,
.mfp-fade.mfp-wrap.mfp-removing .mfp-arrow {
	opacity: 0 !important;
	}
