/*
 * Ripple effect
 */
.ripple-container {
	display: block;
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 !important;
	z-index: 0 !important;
	overflow: hidden;
	border-radius: inherit;
	pointer-events: none;
	}
	.ripple {
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		margin-left: -10px;
		margin-top: -10px;
		border-radius: 100%;
		transform: scale(1);
		transform-origin: 50%;
		opacity: 0;
		background-color: currentColor;
		pointer-events: none;
		}
	.ripple.ripple-on {
		transition: transform 0.45s cubic-bezier(.4,0,.2,1);
		opacity: 0.1;
		}
	.ripple.ripple-out {
		transition: opacity 0.2s linear !important;
		opacity: 0 !important;
		}
